@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Note City 2077</h1>
    <br />
    <p>Welcome to the <strong>Note City!</strong></p>
    <p>Note City is an experimental website that everyone can publish their notes to everyone to see, edit and delete them.</p> 
</div>
