@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We are not using your data to make money. Do not forget this is an experimental site. Everybody can view everyones' notes, edit, and delete them.</p>
